*{
    margin: 0;
    padding: 0;
}
#map{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: visible; !important;
}
#filteration{
    padding: 15px;
    position: absolute;
    font-size: 18px;
    color: #000;
    z-index: 2;
    background-image: url(../img/search-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}
#title{
    text-transform: uppercase;
}
#searchBox{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: #000;
}
ul{
    width: 100%;
    font-size: 16px;
    list-style: none;
    margin-top: 10%;
}
#hospitalsList li{
    margin: 10px 0;
    cursor: pointer;
    color: #ffffff;
}
.col-md-9{
    padding: 0;
}
.container-fluid{
    padding: 0;
}